extends ../../../templates/template

block variables
  - var title="Internacional Credit Mobility"
  - var directory="../../"

block content
  include ../../../molecules/banner  
  include ../../../organisms/titulos
  include ../../../molecules/pagemenu

block scripts 
  script(src="../assets/js/index.js")  