.acordeao
  ul
    li
      label(for='primeiroacordeao')
        | Estudantes Nacionais 
        span &gt;
      input#primeiroacordeao(type='radio' name='acordeao' checked='')
      .conteudodoacordeao
        p
          | Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          | Quasi inventore rem hic ea sapiente corporis corrupti,
          | aspernatur nam? Sapiente temporibus culpa excepturi vel
          | a sequi est officia molestiae harum nesciunt nam architecto
          | adipisci, minus aspernatur quas dolores?
    li
      label(for='segundoacordeao')
        | Estudantes Nacionais 
        span &gt;
      input#segundoacordeao(type='radio' name='acordeao')
      .conteudodoacordeao
        p
          | Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          | Quasi inventore rem hic ea sapiente corporis corrupti,
          | aspernatur nam? Sapiente temporibus culpa excepturi vel
          | a sequi est officia molestiae harum nesciunt nam architecto
          | adipisci, minus aspernatur quas dolores?
    li
      label(for='terceiroacordeao')
        | Estudantes Nacionais 
        span &gt;
      input#terceiroacordeao(type='radio' name='acordeao')
      .conteudodoacordeao
        p
          | Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          | Quasi inventore rem hic ea sapiente corporis corrupti,
          | aspernatur nam? Sapiente temporibus culpa excepturi vel
          | a sequi est officia molestiae harum nesciunt nam architecto
          | adipisci, minus aspernatur quas dolores?

