.tabeladecontactos
  .conteudodatabeladecontactos
    h2 Secretaria
    h3
      | Manh&atilde;: 9:30 - 12:00; 
      br
      |             Tarde: 14:30 - 16:30
    p Telefone: 278 201 340
  .conteudodatabeladecontactos
    h2 Secretaria de Alunos
    h3
      | Manh&atilde;: 9:30 - 12:00; 
      br
      |               Tarde: 14:30 - 16:30
    p Telefone: 278 201 340
  .conteudodatabeladecontactos
    h2 Biblioteca
    h3
      | Manh&atilde;: 9:30 - 12:00; 
      br
      |               Tarde: 14:30 - 16:30
    p Telefone: 278 201 340
  .conteudodatabeladecontactos
    h2 Secretaria
    h3
      | Manh&atilde;: 9:30 - 12:00; 
      br
      |               Tarde: 14:30 - 16:30
    p Telefone: 278 201 340
  .conteudodatabeladecontactos
    h2 Secretaria de Alunos
    h3
      | Manh&atilde;: 9:30 - 12:00; 
      br
      |               Tarde: 14:30 - 16:30
    p Telefone: 278 201 340
  .conteudodatabeladecontactos
    h2 Biblioteca
    h3
      | Manh&atilde;: 9:30 - 12:00; 
      br
      |               Tarde: 14:30 - 16:30
    p Telefone: 278 201 340
  .conteudodatabeladecontactos
    h2 Secretaria
    h3
      | Manh&atilde;: 9:30 - 12:00; 
      br
      |               Tarde: 14:30 - 16:30
    p Telefone: 278 201 340
  .conteudodatabeladecontactos
    h2 Secretaria de Alunos
    h3
      | Manh&atilde;: 9:30 - 12:00; 
      br
      |               Tarde: 14:30 - 16:30
    p Telefone: 278 201 340
  .conteudodatabeladecontactos
    h2 Biblioteca
    h3
      | Manh&atilde;: 9:30 - 12:00; 
      br
      |               Tarde: 14:30 - 16:30
    p Telefone: 278 201 340
