section.cronologiadahistoria
      .cronoflex
        .caixadacronologiadahist
          h2 2023
          h3 História história
          p Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit. Phasellus tincidunt nulla 
            aliquet diam ullamcorper, quis placerat 
            massa euismod. Aenean egestas ex id turpis 
            lobortis commodo. Phasellus ultrices 
            pretium nibh, et tincidunt nunc euismod at. 
            Praesent vitae scelerisque neque. Nulla 
            ac accumsan justo.
        img(src= directory + "assets/images/esact2.jpg", alt="esact")
      .cronoflex
        .caixadacronologiadahist
          h2 2023
          h3 História história
          p Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit. Phasellus tincidunt nulla 
            aliquet diam ullamcorper, quis placerat 
            massa euismod. Aenean egestas ex id turpis 
            lobortis commodo. Phasellus ultrices 
            pretium nibh, et tincidunt nunc euismod at. 
            Praesent vitae scelerisque neque. Nulla 
            ac accumsan justo.
        img(src= directory + "assets/images/esact2.jpg", alt="esact")
      .cronoflex
        .caixadacronologiadahist
          h2 2023
          h3 História história
          p Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit. Phasellus tincidunt nulla 
            aliquet diam ullamcorper, quis placerat 
            massa euismod. Aenean egestas ex id turpis 
            lobortis commodo. Phasellus ultrices 
            pretium nibh, et tincidunt nunc euismod at. 
            Praesent vitae scelerisque neque. Nulla 
            ac accumsan justo.
        img(src= directory + "assets/images/esact2.jpg", alt="esact")
      .cronoflex
        .caixadacronologiadahist
          h2 2023
          h3 História história
          p Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit. Phasellus tincidunt nulla 
            aliquet diam ullamcorper, quis placerat 
            massa euismod. Aenean egestas ex id turpis 
            lobortis commodo. Phasellus ultrices 
            pretium nibh, et tincidunt nunc euismod at. 
            Praesent vitae scelerisque neque. Nulla 
            ac accumsan justo.
        img(src= directory + "assets/images/esact2.jpg", alt="esact")