.containerdoascorescominfo
  .columns.content.primeiro
    .content-container
      h5 Estudar
      ul
        li
          a(href= directory + "/estudar/cursos/ctesp.html") CTeSP
        li 
          a(href= directory + "/estudar/cursos/mestrados.html") Mestrados
        li 
          a(href= directory + "/estudar/cursos/licenciaturas.html") Licenciaturas
        li 
          a(href= directory + "/estudar/cursos/posproducao.html") Pós-Graduação
  .columns.image(style="background-image:url('assets/images/esact1.jpg')")
.containerdoascorescominfo
  .columns.image(style="background-image:url('assets/images/esact2.jpg')")
  .columns.content.segundo
    .content-container
      h5 Investigação e Inovação
      ul
        li
          a(href= directory + "/investigaçao/projetos.html") Projetos
        li 
          a(href= directory + "/investigaçao/publicacoes.html") Publicações


.containerdoascorescominfo
  .columns.content.terceiro
    .content-container
      h5 Internacional
      ul
        li 
          a(href= directory + "/internacional/erasmusmais.html") Erasmus
        li 
          a(href= directory + "/internacional/erasmusmais/mobilidadeestudantes.html") Mobilidade Internacional
  .columns.image(style="background-image:url('assets/images/esact3.jpg')")
