.partedastabelas
  h1  Plano c&uacute;rricular
  table#tabelaPlanoCurricular
    tr
      th C&oacute;digo
      th Semestre
      th Unidade Curricular
      th ECTS
    tr
      td 9123-656-1101-00-22
      td(rowspan='4') Primeiro
      td Desenvolvimento Web
      td 6
    tr
      td 9123-656-1101-00-22
      td Desenvolvimento Web
      td 6
    tr
      td 9123-656-1101-00-22
      td Desenvolvimento Web
      td 6
    tr
      td 9123-656-1101-00-22
      td Desenvolvimento Web
      td 6
    tr
      td 9123-656-1101-00-22
      td(rowspan='4') Segundo
      td Desenvolvimento Web
      td 6
    tr
      td 9123-656-1101-00-22
      td Desenvolvimento Web
      td 6
    tr
      td 9123-656-1101-00-22
      td Desenvolvimento Web
      td 6
    tr
      td 9123-656-1101-00-22
      td Desenvolvimento Web
      td 6
