.Escolas
  .caixa
    .imagemdacaixa
      img(src='../assets/images/esact1.jpg' alt='Escola Superior Agrária')
    .conteudodabox
      div
        h2.cursodabox Multim&eacute;dia
        p.NomedaEscola Curta-metragem
        br
        p.localizacao 2 de janeiro
  .caixa
    .imagemdacaixa
      img(src='../assets/images/esact1.jpg' alt='Escola Superior Agrária')
    .conteudodabox
      div
        h2.cursodabox Multim&eacute;dia
        p.NomedaEscola Curta-metragem
        br
        p.localizacao 2 de janeiro
  .caixa
    .imagemdacaixa
      img(src='../assets/images/esact1.jpg' alt='Escola Superior Agrária')
    .conteudodabox
      div
        h2.cursodabox Multim&eacute;dia
        p.NomedaEscola Curta-metragem
        br
        p.localizacao 2 de janeiro
  .caixa
    .imagemdacaixa
      img(src='../assets/images/esact1.jpg' alt='Escola Superior Agrária')
    .conteudodabox
      div
        h2.cursodabox Multim&eacute;dia
        p.NomedaEscola Curta-metragem
        br
        p.localizacao 2 de janeiro
  .caixa
    .imagemdacaixa
      img(src='../assets/images/esact1.jpg' alt='Escola Superior Agrária')
    .conteudodabox
      div
        h2.cursodabox Multim&eacute;dia
        p.NomedaEscola Curta-metragem
        br
        p.localizacao 2 de janeiro
