.conteinercomtudoo
  .titulocomtabelacontainer
    .titulodatabela
      p
        | Servios 
        br
        |  Acad&eacute;micos
    .tabeladasinformacoesespecificas
      table.tabeladasinfoespecificasdentro
        thead
          tr
            th &Aacute;rea Cient&iacute;fica
            th Sigla
            th ECTS Obrigat&oacute;rios
            th ECTS Opcionais
        tbody
          tr
            td Audiovisuais e Produ&ccedil;&atilde;o dos M&eacute;dia
            td APM
            td 108.0
            td 0.0
          tr
            td Ci&ecirc;ncias Inform&aacute;ticas
            td CI
            td 60.0
            td 0.0
          tr
            td Direito
            td D
            td 3.0
            td 0.0
          tr
            td Marketing e Publicidade
            td MP
            td 3.0
            td 0.0
          tr
            td Matem&aacute;tica
            td M
            td 6.0
            td 0.0

