extends ../../templates/template

block variables
  - var title="Eventos"
  - var directory="../"

block content
  include ../../molecules/banner  
  include ../../organisms/Testtitle
  include ../../molecules/timelinehome
  include ../../molecules/timelinehome
  include ../../molecules/timelinehome
  include ../../molecules/timelinehome



block scripts 
  script(src="../assets/js/index.js")  