extends ../../templates/template

block variables
  - var title="Noticias"
  - var directory="../"

block content
  include ../../molecules/slider  
  include ../../organisms/Testtitle
  include ../../molecules/noticias
  include ../../molecules/noticias
  include ../../molecules/noticias
  include ../../molecules/noticias

block scripts 
  script(src="../assets/js/index.js")  