extends ../../templates/template

block variables
  - var title="Contactos"
  - var directory="../"

block content
  include ../../molecules/banner  
  include ../../organisms/Testtitle
  include ../../molecules/pagemenu

block scripts 
  script(src="../assets/js/index.js")  