extends ../../../templates/template

block variables
  - var title="Carta e Declaração Politica de Erasmus"
  - var directory="../../"

block content
  include ../../../molecules/banner  
  include ../../../organisms/TestTitle
  include ../../../molecules/timelinehome
  include ../../../molecules/timelinehome
  include ../../../molecules/timelinehome
  include ../../../molecules/timelinehome


block scripts 
  script(src="../assets/js/index.js")  