extends ../../../templates/template

block variables
  - var title="Carta e Declaração Politica de Erasmus"
  - var directory="../../"

block content
  include ../../../molecules/banner  
  include ../../../organisms/Testtitle
  include ../../../molecules/pubimg
  include ../../../molecules/pubimg
  include ../../../molecules/pubimg

block scripts 
  script(src="../assets/js/index.js")  