extends ../../templates/template.pug

block variables
  - var title="Search Teste 1"
  - var directory="../"


block content
  include ../../atoms/search

block scripts 
  script(src="../assets/js/index.js")  