extends ../../../templates/template

block variables
  - var title="Apresentação"
  - var directory="../../"

block content
  include ../../../molecules/banner  
  include ../../../organisms/TestTitle
  include ../../../molecules/contactos
  
block scripts 
  script(src="../assets/js/index.js")  