.textostandard
  p
    | Os Serviços Académicos são responsáveis pela gestão
    | técnica e administrativa de todos os atos académicos
    | realizados no percurso de cada estudante.
    | O atendimento ao estudante faz-se presencialmente,
    | por via telefónica ou através do balcão
    | eletrónico http://online.ipb.pt.
