footer
  .conteudo-do-footer
    .footer-contactos
      h1 Morada
      p
        | Campus do Cruzeiro - Avenida 25 de Abril, Cruzeiro, Lote 2. <br> Apartado 128. 5370-202 Mirandela <br>
      <br>
      h1 Contactos
      p
        | Telefone: (+351) 237 330 850 <br> Fax: (+355511) 279 325 405 <br> E-mail: saipb@ipb.pt <br>
      <br>
      h1 Horário de Funcionamento
      p
        |Manhã: 9h00 -12h00 <br> Tarde:  14h00 -16h00 <br> (Encerra às terças e quintas à tarde) <br>

      .footer-rede-sociais
        a#instagram.footer-link(href='https://www.instagram.com/esactipb/')
          i.fa-brands.fa-instagram
        a#facebook.footer-link(href='https://www.facebook.com/esactipb')
          i.fa-brands.fa-facebook-f
        a#whatsapp.footer-link(href='#')
          i.fa-brands.fa-whatsapp
    ul.lista-do-footer
      li
        h1 Links Rápidos
      li
        a.footer-link(href= directory + "sobreEsact/institucional.html") Sobre
      li
        a.footer-link(href= directory + "estudar/cursos.html") Cursos 
      li
        a.footer-link(href= directory + "/estudar/candidaturas.html") Candidaturas 
    ul.lista-do-footer
      li
        h3 Lorem.
      li
        a.footer-link(href= directory + "/noticias/eventos.html") Eventos
      li
        a.footer-link(href= directory + "/noticias/noticias.html") Notícias
      li
        a.footer-link(href= directory + "sobreEsact/contactos.html") Contactos
    
    .footer-newsletter
      h1 Newsletter
      p
        | Subscreva a newsletter da ESACT e mantenha-se atualizado(a) com todas as novidades! Preencha o formulário abaixo para garantir que recebe informações exclusivas sobre eventos, cursos e iniciativas emocionantes na sua faculdade.
      .inputnewsletter
        input#name(type='text' value='Inserir nome')
        button
          i.fa-solid.fa-child-reaching
      .inputnewsletter
        input#email(type='e-mail' value='Inserir e-mail')
        button
          i.fa-solid.fa-envelope
  .footer-copyright
    | &copy;
    | 2024 Todos os direitos reservados.

script(src="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" )

