section#header
.caixadotituloetexto
  .titulostandard
    p
      | Serviços
      br
      |  Académicos
  .textostandard
    p
      | Os Servios Acadmicos so responsveis pela gesto
      | tcnica e administrativa de todos os atos acadmicos
      | realizados no percurso de cada estudante.
      | O atendimento ao estudante faz-se presencialmente,
      | por via telefnica ou atravs do balco
      | eletrnico http://online.ipb.pt.