extends ../templates/template.pug




block variables
  - var title="Formações"


block content
  include ../molecules/banner
  include ../molecules/tabelacientifica
  include ../molecules/planocurricular  
  