extends ../templates/template.pug



block variables
  - var title="Mestrados"

block content
  include ../molecules/banner
  include ../molecules/tabelacientifica
  include ../molecules/planocurricular  
  