extends ../templates/template.pug

block variables
  - var title="home"


block content
  include ../organisms/titulos
  include ../molecules/pubimg
  

block scripts 
  script(src="assets/js/index.js")